.profile-text{
    color: white;
    margin-top: 150px;
    font-family: sans-serif;
    font-size: 2rem;
}
.profile-manage{
    width: 20%;
    height: 2rem;
    margin: 50px 0px 20px 10px;
    background-color: transparent;
    border: 2px solid white;
    transition: 3ms ease-in-out;
}
.profile-manage a{
    text-decoration: none;
        color: white;
        transition: 3ms ease-in-out;
}
.profile-manage:hover{
    background-color: white;
}
.profile-manage:hover .ok{
    color: black;
}
