.regplan-main{
    width: 100%;
    height: 70rem;
    background-color: white;
    margin: 0%;
    border-radius: 20px;
} 
.regplan-console{
    width: 80%;
    margin: 0px auto;
    text-align: left;
    font-family: sans-serif;
    height: 20rem;
};
.step3-reg{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 35%;
 }
.reg3-check{
    margin-top: 30px;
    
}
.plan-hey{
    font-size: 1.1rem;
    text-align: left;
}
.plan-hey2{
    font-size: 2rem;
    text-align: left;
}
.right-mark{

}
.plan-hey3{
    color: black;
    position: relative;
    left: 10px;
    bottom: 10px;
}
.hey4{
    margin-left: 15px;
}
.plan-hey6{
    width: 50%;
    background-color: #E50914;
    color: white;
    height: 60px;
    border-color: transparent;
    border-radius: 5px;
}
.plan-hey6 a{
    color: white;
    text-decoration: none;
}
.collection-right{
    text-align: left;
    position: relative;
    right: 150px;
}
.plan-hey5{
    color: black;
    text-align: left;
    position: relative;
    right: 150px;
}