.options2{
    width: 41%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.upi-text{
    
}
.hey8{
    margin-top: 10px;
    width: 50%;
    background-color:  #E50914;
    color: white;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
}
.hey8 a{
    color: white;
    text-decoration: none;
}