.carou{
    width: 200px;
    height: 7.5rem;
    margin-left: 1px;
    background-color: red;
    background-image: url(../assets/images/12.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.styles-module_carousel-arrow__26sRw{
    width: 50px;
    height: 7.5rem;
    background-color: white;
    background-image: url(../assets/images/move.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.trailer-head{
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}
.carou1{
    background-image: url(../assets/images/13.png);
}
.carou2{
    background-image: url(../assets/images/14.png);
}
.carou3{
    background-image: url(../assets/images/15.png);
}
.carou4{
    background-image: url(../assets/images/16.png);
}
.carou5{
    background-image: url(../assets/images/17.png);
}
.carou6{
    background-image: url(../assets/images/18.png);
}
.carou7{
    background-image: url(../assets/images/19.png);
}
.carou8{
    background-image: url(../assets/images/20.png);
}.carou9{
    background-image: url(../assets/images/21.png);
}
.carou10{
    background-image: url(../assets/images/22.png);
}
.carou11{
    background-image: url(../assets/images/23.png);
}
.carou12{
    background-image: url(../assets/images/24.png);
}
.carou13{
    background-image: url(../assets/images/25.png);
}
.carou14{
    background-image: url(../assets/images/26.png);
}
.carou15{
    background-image: url(../assets/images/27.png);
}
.carou16{
    background-image: url(../assets/images/28.png);
}
.carou17{
    background-image: url(../assets/images/29.png);
}
.carou18{
    background-image: url(../assets/images/30.png);
}
.carou19{
    background-image: url(../assets/images/31.png);
}
.carou20{
    background-image: url(../assets/images/32.png);
}
.carou21{
    background-image: url(../assets/images/33.png);
}
.carou22{
    background-image: url(../assets/images/34.png);
}
.carou23{
    background-image: url(../assets/images/35.png);
}
.carou24{
    background-image: url(../assets/images/36.png);
}
.carou25{
    background-image: url(../assets/images/37.png);
}
.carou26{
    background-image: url(../assets/images/38.png);
}
.carou27{
    background-image: url(../assets/images/39.jpg);
}
.carou28{
    background-image: url(../assets/images/40.png);
}
.carou29{
    background-image: url(../assets/images/41.png);
}
.carou30{
    background-image: url(../assets/images/42.png);
}
.carou31{
    background-image: url(../assets/images/43.png);
}
.carou32{
    background-image: url(../assets/images/44.png);
}
.carou33{
    background-image: url(../assets/images/45.png);
}
.carou34{
    background-image: url(../assets/images/46.jpg);
}
.carou35{
    background-image: url(../assets/images/47.jpg);
}
.carou36{
    background-image: url(../assets/images/48.jpg);
}
.carou37{
    background-image: url(../assets/images/49.jpg);
}
.carou38{
    background-image: url(../assets/images/50.jpg);
}
.carou39{
    background-image: url(../assets/images/51.jpg);
}
.carou40{
    background-image: url(../assets/images/52.jpg);
}
.carou41{
    background-image: url(../assets/images/53.jpg);
}
.carou42{
    background-image: url(../assets/images/54.jpg);
}
.carou43{
    background-image: url(../assets/images/55.jpg);
}
.carou44{
    background-image: url(../assets/images/56.jpg);
}
.carou45{
    background-image: url(../assets/images/57.jpg);
}






